<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".App.GlobalApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="GQKW"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.myapplication.Main.FileConnect.FileConnectActivity"
                    />
        <activity android:name="com.example.myapplication.Main.IpConnect.IpConnectActivity"/>
        <activity
                android:name="com.example.myapplication.Main.MainList.MainActivity"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name="com.example.myapplication.Main.PcConnecting.PcConnectingActivity"/>
        <activity android:name=".StartUp.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>